:root {
  --main: #3b4cca;
  --light: #ffde00;
  --bright: #f1f1f1;
  --button: #0075be;
  --darkest: #000000;
  --danger: #cc0000;
  --nice: #89c893;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--main);
  color: var(--light);
  margin: 0;
  padding: 0;
  font-family: "Secular One", sans-serif;
}

header,
p,
h2,
h3 {
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

h2 {
  font-size: 1.8rem;
  margin: 0 0 20px 0;
}

p {
  color: var(--light);
}

.container {
  width: 80%;
  max-width: 1920px;
  margin: auto;
}

main {
  display: grid;
  grid-template-columns: 1fr 38%;
  grid-gap: 20px;
}

.pokemon-pic-container {
  position: relative;
}

.background-img {
  width: 100%;
  height: auto;
  border: 4px solid white;
}

/* pokemon pic */
img.pokemon-pic {
  position: absolute;
  top: 13%;
  left: 12%;
  width: 38%;
}

.choice {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--darkest);
  border: var(--light) 4px dotted;
  padding-bottom: 40px;
}

.choice > button {
  background-color: var(--button);
  border: 1px solid var(--bright);
  font-weight: bold;
  color: var(--bright);
  transition: 0.5s;
  width: 80%;
  font-size: 1.5rem;
  line-height: 2.2rem;
  margin: 6px 0;
  text-transform: capitalize;
}

button {
  border-radius: 8px;
}

.choice > button:hover {
  background-color: var(--light);
  border: 1px solid var(--button);
  color: var(--darkest);
}

.winner {
  background-color: var(--nice) !important;
  color: var(--darkest) !important;
}

.loser {
  background-color: var(--danger) !important;
}

.score-container {
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.played,
.wins {
  font-size: 1.4rem;
}

a:link,
a:visited {
  color: var(--bright);
  text-decoration: none;
}

a:hover,
a:active {
  color: var(--light);
  text-decoration: none;
}

header,
footer {
  width: 100%;
}

@media screen and (max-width: 990px) {
  .container {
    width: 96%;
  }

  main {
    grid-gap: 0;
    grid-template-columns: 1fr;
  }

  .choice {
    height: auto;
    padding-bottom: 30px;
  }

  h1, h2 {
    margin: 0 10px;
  }
  
  h1 {
    font-size: 1.3rem;
  }

  h2 {
    font-size: 1.1rem;
    margin: 0 0 10px 0;
  }

  p.wins, p.played {
    margin: 8px 0 6px 0;
    font-size: 1rem;
  }
}
